h1 Add Post 

form(action="/add-post" method='POST')
    div 
        div 
            label(for="subject") Subject 
        div 
            input(type="text" name='subject' id='subject')
    div
        div 
            label(for='content') Content 
        div 
            textarea(name="content" id='content') 
    div 
        button(type='submit') Save Post
        a(href="/posts")
            button(type='button') Cancel 
