extends layout.pug 
block content
    if (locals.savePostSuccess)
        p Post saved successfully.
    a(href="/add-post") 
        button Add Post 
    if locals.posts 
        each post in posts
            div 
                div 
                    p=post.subject 
                div 
                    p=`by ${post.name}` 
                div 
                    p= `on ${post.date_time}`
            div 
                p=post.content 
            div 
                p ---------------------------
