include header.pug
h1 Please Register
form(action="/register" method='post')
    div
        div 
            label(for="email") eMail 
        div
            input(type="email" id='email' name='email' required)
        - if (locals.email)
            div 
                p=locals.email.msg
    div 
        div 
            label(for="name") Name 
        div 
            input(type="name" id='text' name='name' required)
        - if (locals.name)
            div 
                p=locals.name.msg
    div 
        div 
            label(for="password") Password 
        div
            input(type='password' id='password' name='password' required)
        - if (locals.password)
            div 
                p=locals.password.msg
    div 
        div
            label(for='') Confirm Password 
        div 
            input(type='password' id='confirmPassword' name='confirmPassword' required)
        - if (locals.confirmPassword)
            div 
                p=locals.confirmPassword.msg
    div 
        div 
            label(for='membership') Membership Code (optional)
        div 
            input(type='text' id='membership' name='membership')
    div 
        button(type='submit') Submit  