@import url("https://fonts.googleapis.com/css?family=Inter:700|Inter:400");

:root {
  --primary-100: hsl(51, 10%, 100%); /*background*/
  --primary-200: hsl(51, 100%, 89%);
  --primary-300: hsl(51, 100%, 75%);
  --primary-400: hsl(51, 100%, 64%);
  --primary-500: hsl(51, 100%, 50%); /*buttons*/
  --primary-600: hsl(51, 100%, 38%);
  --primary-700: hsl(51, 100%, 25%);
  --primary-800: hsl(51, 100%, 16%);
  --primary-900: hsl(51, 100%, 5%); /*text*/

  --secondary-100: hsl(49, 24%, 91%);
  --secondary-200: hsl(51, 14%, 74%);
  --secondary-300: hsl(51, 12%, 56%);
  --secondary-400: hsl(51, 13%, 41%);
  --secondary-500: hsl(52, 18%, 24%);
  --secondary-600: hsl(51, 26%, 20%);
  --secondary-700: hsl(52, 45%, 14%);
  --secondary-800: hsl(51, 65%, 8%);
  --secondary-900: hsl(50, 100%, 5%);

  --danger-50: hsl(351, 100%, 95%);
  --danger-100: hsl(351, 100%, 90%);
  --danger-200: hsl(351, 100%, 80%);
  --danger-300: hsl(351, 100%, 70%);
  --danger-400: hsl(351, 100%, 60%);
  --danger-500: hsl(351, 100%, 50%);
  --danger-600: hsl(351, 100%, 40%);
  --danger-700: hsl(351, 100%, 30%);
  --danger-800: hsl(351, 100%, 20%);
  --danger-900: hsl(351, 100%, 10%);
  --danger-950: hsl(351, 100%, 5%);

  --warning-50: hsl(21, 100%, 95%);
  --warning-100: hsl(20, 100%, 90%);
  --warning-200: hsl(20, 100%, 80%);
  --warning-300: hsl(20, 100%, 70%);
  --warning-400: hsl(20, 100%, 60%);
  --warning-500: hsl(20, 100%, 50%);
  --warning-600: hsl(20, 100%, 40%);
  --warning-700: hsl(20, 100%, 30%);
  --warning-800: hsl(20, 100%, 20%);
  --warning-900: hsl(20, 100%, 10%);
  --warning-950: hsl(21, 100%, 5%);

  --success-50: hsl(111, 100%, 95%);
  --success-100: hsl(111, 100%, 90%);
  --success-200: hsl(111, 100%, 80%);
  --success-300: hsl(111, 100%, 70%);
  --success-400: hsl(111, 100%, 60%);
  --success-500: hsl(111, 100%, 50%);
  --success-600: hsl(111, 100%, 40%);
  --success-700: hsl(111, 100%, 30%);
  --success-800: hsl(111, 100%, 20%);
  --success-900: hsl(111, 100%, 10%);
  --success-950: hsl(111, 100%, 5%);

  --text: var(--primary-900);
}
* {
  color: var(--text);
}
body {
  font-family: "Inter";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 3.053rem; /* 48.8px */
}

h2 {
  font-size: 2.442rem; /* 39.04px */
}

h3 {
  font-size: 1.954rem; /* 31.2px */
}

h4 {
  font-size: 1.563rem; /* 24.96px */
}

h5 {
  font-size: 1.25rem; /* 20px */
}

small {
  font-size: 0.8rem; /* 12.8px */
}
